# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build
dist

# Production
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Backups and trash
_jamfind-app-backup/
__trash__/

# IDE
.vscode/
.idea/
